<ion-header [translucent]="true">
    <ion-toolbar  color="light">
        <ion-title>ToDo List</ion-title>
    </ion-toolbar>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button routerLink="/pendings"> Pendientes </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button routerLink="/completes"> Completadas </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-list-header>
            <ion-label>Ver-Editar  Tarea</ion-label>
            <ion-button routerLink="/home">Lista general</ion-button>
        </ion-list-header>

        <ion-toolbar color="light" class="edit-toolbar ion-padding">
            <ion-buttons slot="start">
                <ion-button (click)="completeTodo()">Completada</ion-button>
            </ion-buttons>

            <ion-buttons slot="end">
                <ion-button (click)="deleteTodo()">Eliminar</ion-button>
            </ion-buttons>
        </ion-toolbar>

        <form class="ion-padding" [formGroup]="editForm" (ngSubmit)="validateForm()">
            <ion-item>
                <ion-textarea formControlName="title" label="Título" labelPlacement="stacked" placeholder="Nombre de la tarea (al menos 2 caracteres)"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-textarea formControlName="description" label="Descripción" labelPlacement="stacked" placeholder="Describe la tarea a realizar (al menos 5 caracteres)"></ion-textarea>
            </ion-item>

            <div class="add-button ion-padding">
                <ion-button id="open-loading" size="large" type="submit">Actualizar</ion-button>
            </div>
        </form>
        <ion-loading trigger="open-loading" message="Guardando..." [duration]="3000" spinner="circles"></ion-loading>
    </ion-list>
</ion-content>
