ion-content {
    --background: #fff;
    --color: #333;
}
ion-list {
    --background: #fff;
    --color: #333;
}
ion-item {
    --background: #fff;
    --color: #333;
}
.list-md {
    background: #fff;
}
ion-list-header {
    --background: #fff;
    --color: #333;
    text-align: center;
}
